.tabs_area {
  width: 100%;
}

.tab_list {
  & button[data-active="true"] {
    background-color: var(--mantine-color-gray-1);
    border-right: 1px solid transparent;
    color: var(--mantine-color-gray-9);
  }
}

.tab_panel_area {
  background-color: var(--mantine-color-gray-1);
  padding: 1rem;
  flex-grow: 1;
  border: 1px solid var(--mantine-color-gray-3);
  border-left: 1px solid transparent;
  overflow: scroll;
}
