.game_logs {
  padding: 1rem;
  white-space: nowrap;
  background-color: var(--mantine-color-gray-1);

  @mixin dark {
    background-color: var(--mantine-color-gray-8);
  }

  @media (width >= 62em) {
    margin: 1rem;
    border: 1px solid var(--mantine-color-gray-1);
    border-radius: 0.5rem;

    @mixin dark {
      border: 1px solid var(--mantine-color-gray-8);
    }
  }
}
