.player {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: stretch;
  justify-content: space-between;
  container-type: inline-size;
  overflow: scroll hidden;
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
  transition: all 0.2s;

  @media (width >= 62em) {
    flex-direction: column;
    gap: 0;
    align-items: stretch;
    height: 60vh;
    overflow-x: hidden;

    &[data-reverse="true"] {
      flex-direction: column-reverse;

      div:nth-child(1) {
        flex-direction: column-reverse;
        justify-content: space-between;
      }
    }
  }
}

.player_info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  @media (width >= 62em) {
    align-items: center;

    &[data-vertical="true"] {
      width: 40%;
    }
  }
}

.player_score {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0 1rem;
  background-color: var(--mantine-color-body);

  @media (width >= 36em) {
    justify-content: space-between;
    width: auto;
  }

  @media (width >= 62em) {
    flex-grow: 0;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0;
  }
}

.player_score_pair {
  display: flex;
  gap: 1rem;

  @media (width >= 62em) {
    gap: 0;
    width: 100%;
  }
}
