.player_score {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0 1rem;
  background-color: var(--mantine-color-body);

  @mixin larger-than 36em {
    justify-content: space-between;
    width: auto;
  }

  @mixin larger-than 62em {
    flex-grow: 0;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0;
  }
}

.player_score_pair {
  display: flex;
  gap: 1rem;

  @mixin larger-than 62em {
    gap: 0;
    width: 100%;
  }
}
