.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--mantine-color-gray-0);
  background-color: var(--mantine-color-dark-9);
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem;
}
