.players {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1.5vh 1vw;
  padding: 3ch 1vw 0;

  @mixin larger-than 62em {
    height: 95vh;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0 1vw;
    padding: 2.5vh 1vw;
    resize: vertical;
    overflow: auto;

    &[data-showq="true"] {
      height: 85vh;
    }
  }
}
