.tab_list {
  flex-wrap: nowrap;

  & button {
    padding-block: 0.85rem;
    padding-inline: 0.4rem;
    font-size: 0.8rem;
    font-weight: 700;
    white-space: normal;

    @media (width >= 28.125em) {
      padding-block: 1rem;
      padding-inline: 1rem;
      font-size: 1.125rem;
    }
  }

  & button[data-active="true"] {
    color: var(--mantine-color-gray-9);
    background-color: var(--mantine-color-gray-1);
    border-bottom-color: transparent;

    @mixin dark {
      color: var(--mantine-color-gray-1);
      background-color: var(--mantine-color-gray-8);
    }
  }
}

.tab_panel {
  padding: 1rem;
  background-color: var(--mantine-color-gray-1);
  border: 1px solid var(--mantine-color-gray-3);
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;

  @mixin dark {
    background-color: var(--mantine-color-gray-8);
    border-color: var(--mantine-color-gray-7);
  }
}
