.burger_menu {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--mantine-color-teal-6);

  @mixin dark {
    background-color: var(--mantine-color-teal-8);
  }
}
