.burger {
    border: 2px solid var(--mantine-color-teal-6);
  }

.burger_menu {
  position: fixed;
  left: 0;
  z-index: 50;
  display: none;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--mantine-color-teal-6);
  transition: all 0.5s ease;
  transition-behavior: allow-discrete;

  [data-mantine-color-scheme='dark'] {
    background-color: var(--mantine-color-teal-8);
  }

  &[data-show="false"] {
    top: 0;
    transform: translateY(-100%);
  }

  &[data-show="true"] {
    top: 4rem;
    display: block;

    @starting-style {
      top: 0;
      transform: translateY(-100%);
    }
  }
}
