.config_limit {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
  background-color: var(--mantine-color-white);
  border: 1px solid var(--mantine-color-default-border);
  border-radius: var(--mantine-radius-default);

  @mixin dark {
    background-color: var(--mantine-color-gray-9);
    border-color: var(--mantine-color-gray-7);
  }

  @media (width >= 62em) {
    flex-direction: row;
    align-items: center;
  }
}

.config_limit_inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem;

  @media (width >= 62em) {
    flex-direction: row;
    width: auto;
  }
}
