.game_start_container {
  margin: 1.25rem 0;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;

  &[data-disabled="true"] {
    border-color: var(--mantine-color-red-9);
    cursor: not-allowed;

    @mixin dark {
      border-color: var(--mantine-color-red-3);
    }
  }
}

.game_start_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
  overflow-x: hidden;

  @mixin larger-than 62em {
    align-items: center;
    flex-direction: row;
    gap: 0;
  }
}

.error_message {
  color: var(--mantine-color-red-9);
  padding: 0.5rem 1rem;

  @mixin dark {
    color: var(--mantine-color-red-3);
  }
}
