.game_start_container {
  margin: 1.25rem 0;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25rem;

  &[data-disabled="true"] {
    cursor: not-allowed;
    border-color: var(--mantine-color-red-9);

    [data-mantine-color-scheme="dark"] {
      border-color: var(--mantine-color-red-3);
    }
  }
}

.game_start_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  overflow-x: hidden;

  @media (width >= 62em) {
    flex-direction: row;
    gap: 0;
    align-items: center;
  }
}

.error_message {
  padding: 0.5rem 1rem;
  color: var(--mantine-color-red-9);

  [data-mantine-color-scheme="dark"] {
    color: var(--mantine-color-red-3);
  }
}
