.tabs_area {
  width: 100%;
}

.tab_list {
  min-width: 200px;

  & button[data-active="true"] {
    color: var(--mantine-color-gray-9);
    background-color: var(--mantine-color-gray-1);
    border-bottom: 1px solid transparent;

    [data-mantine-color-scheme="dark"] {
      color: var(--mantine-color-gray-1);
      background-color: var(--mantine-color-gray-8);
    }
  }
}

.tab_panel_area {
  min-height: 80vh;
  padding: 1rem;
  overflow: scroll;
  background-color: var(--mantine-color-gray-1);
  border: 1px solid var(--mantine-color-gray-3);
  border-top: 1px solid transparent;

  [data-mantine-color-scheme="dark"] {
    background-color: var(--mantine-color-gray-8);
    border: 1px solid var(--mantine-color-gray-7);
    border-top: 1px solid transparent;
  }
}
