.hero {
  position: relative;
  width: 100%;
}

.hero_image {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.hero_text_area {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 4rem);
  color: white;
  border-radius: 1rem;
  transform: translateX(-50%) translateY(-50%);
}

.hero_text {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.25rem;
  text-shadow: black 1px 0 10px;

  @media (width >= 62em) {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }
}

.marked_text {
  display: inline;
  text-shadow: green 1px 0 10px;
}
