.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-teal-6);

  @media (width >= 62em) {
    width: 300px;
    height: 100vh;
    padding: 1rem;
  }

  [data-mantine-color-scheme="dark"] {
    background-color: var(--mantine-color-teal-8);
  }
}

.header_inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0.5rem;

  @media (width >= 62em) {
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    height: 100%;
    padding: 0;
  }
}

.header_link {
  display: flex;
  justify-content: center;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.header_logo {
  width: auto;

  > img {
    width: 10rem;
    height: auto;

    @media (width >= 62em) {
      width: 100%;
      height: auto;
    }
  }

  @media (width >= 62em) {
    height: auto;
  }
}

.header_menu_desktop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-bottom: 1.5rem;
}

.header_copyright {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
