::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html,
body {
  max-width: 100vw;
  font-family:
    hiragino-kaku-gothic-pron,
    -apple-system,
    sans-serif;
}

h2 {
  padding: 0 0 1rem;
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  padding: 0 0 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

ul {
  margin-left: 24px;
  line-height: 2rem;
  list-style: disc;
}
