@layer reset, base, tokens, recipes, utilities;

@import "./radix-ui.css" layer(radix);

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
