.board_header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--mantine-color-gray-3);
  padding: 0 0.5rem;
  overflow-y: auto;
  resize: vertical;
  width: 100vw;

  @mixin larger-than 62em {
    gap: 1rem;
    height: 5rem;
  }

  @mixin dark {
    background-color: var(--mantine-color-gray-8);
    border-bottom: 1px solid var(--mantine-color-gray-7);
  }

  &[data-withname="false"][data-showqn="false"] {
    @mixin larger-than 62em {
      height: min(15vh, 8rem);

      &[data-showquiz="true"] {
        div:nth-child(1) {
          position: absolute;
          right: 0;
          bottom: 0;
          height: auto;
          padding: 0 0.5rem;
          opacity: 0.5;
        }
      }

      &[data-showquiz="false"] {
        justify-content: center;
      }
    }
  }

  &[data-withname="true"] {
    &[data-showquiz="false"] {
      @mixin larger-than 62em {
        div {
          width: 50%;
        }

        div:nth-child(1) {
          align-items: flex-end;

          div {
            text-align: right;
          }

          &[data-showqn="false"] {
            width: 100%;
            align-items: center;

            div {
              text-align: center;
            }
          }
        }

        div:nth-child(2) {
          align-items: flex-start;
        }
      }
    }

    &[data-showquiz="true"] {
      @mixin larger-than 62em {
        flex-direction: row;
        align-items: flex-start;
        gap: 0.5rem;

        div:nth-child(1) {
          white-space: nowrap;
        }
      }
    }
  }

  &[data-withname="false"] {
    &[data-showquiz="false"] {
      @mixin larger-than 62em {
        justify-content: center;
      }
    }
  }
}

.game_info_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.game_info_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game_name {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 800;
  color: black;

  @mixin dark {
    color: white;
  }
}

.game_name_only {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;

  @mixin larger-than 62em {
    align-items: center;
  }

  span:nth-child(1) {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 700;
  }

  span:nth-child(2) {
    font-size: 1rem;
    line-height: 1rem;
    text-wrap: nowrap;
  }

  &[data-showqn="false"] {
    span:nth-child(1) {
      display: none;
    }
    span:nth-child(2) {
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: 700;
    }
  }
}

.quiz_number_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.quiz_number {
  white-space: nowrap;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.quiz_area {
  display: none;
  height: 100%;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  font-size: 1.5rem;
  line-height: 1.5rem;

  @mixin larger-than 62em {
    display: flex;
  }
}

.answer {
  color: var(--mantine-color-red-9);

  @mixin dark {
    color: var(--mantine-color-red-3);
  }
}

.board_action {
  @mixin larger-than 62em {
    display: none;
  }
}
