.board {
  min-height: 100vh;
  padding: 1rem;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.squarex_bar {
  position: absolute;
  z-index: 10;
  width: 1vw;
  height: 100%;
  background-color: var(--mantine-color-teal-5);
}

.skip_suggest {
  position: fixed;
  right: 0;
  bottom: 1rem;
  left: 0;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  margin: 1.25rem;
  background-color: var(--mantine-color-gray-3);
  border-radius: 1rem;

  [data-mantine-color-scheme="dark"] {
    background-color: var(--mantine-color-gray-8);
  }
}
