.player {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  container-type: inline-size;
  overflow: scroll hidden;
  border-style: solid;
  border-width: 0 0 1px;
  transition: all 0.2s;

  @media (width >= 36em) {
    flex-direction: row;
    gap: 0;
    align-items: stretch;
  }

  @media (width >= 62em) {
    flex-direction: column;
    gap: 0;
    align-items: stretch;
    height: 100%;
    overflow-x: hidden;
    border-width: 1px;
    border-radius: 1rem;

    &[data-reverse="true"] {
      flex-direction: column-reverse;

      div:nth-child(1) {
        flex-direction: column-reverse;
        justify-content: space-between;
      }
    }
  }
}

.player_info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  @media (width >= 62em) {
    align-items: center;

    &[data-rows="1"] {
      height: calc(80vh - 4rem);
    }

    &[data-rows="2"] {
      height: calc(80vh - 8rem);
    }

    &[data-rows="3"] {
      height: calc(80vh - 12rem);
    }
  }
}
