.vertical_player_header {
  width: 100%;
  padding: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;

  @media (width >= 36em) {
    text-align: left;
  }

  @media (width >= 62em) {
    font-size: 1.25rem;
    text-align: center;
  }
}

.vertical_player_number {
  text-align: center;

  @media (width >= 36em) {
    text-align: left;
  }

  @media (width >= 62em) {
    text-align: center;
    opacity: 0.3;
  }
}

.horizontal_player_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  padding-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;

  @media (width >= 62em) {
    font-size: 1.25rem;
  }
}

.horizontal_player_belong {
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.horizontal_player_number {
  opacity: 0.3;
}
