.vertical_player_header {
  width: 100%;
  padding-top: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  line-height: 0.75rem;
  text-align: left;
  white-space: nowrap;

  @media(width >= 62em) {
    text-align: center;
  }
}

.vertical_player_number {
  padding: 0 0.5rem;
  text-align: center;

  @media(width >= 36em) {
    text-align: left;
  }

  @media(width >= 62em) {
    padding: 0.5rem 0;
    text-align: center;
    opacity: 0.3;
  }
}

.horizontal_player_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  padding-top: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  line-height: 0.75rem;
  white-space: nowrap;
}

.horizontal_player_belong {
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.horizontal_player_number {
  opacity: 0.3;
}
