.dropzone_inner {
  display: flex;
  justify-content: center;
  min-height: 150px;
  pointer-events: none;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 2px dashed var(--mantine-color-gray-3);
  background-color: var(--mantine-color-gray-1);
  cursor: pointer;

  @mixin dark {
    border-color: var(--mantine-color-dark-4);
    background-color: var(--mantine-color-dark-7);
  }
}
