html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "BIZ UDPGothic", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.3rem;
  height: 0px;
  z-index: 100000;
}
::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  font-family: "BIZ UDPGothic", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 0.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
  padding-top: 0.5rem;
}

.p0 {
  padding: 0;
}

.hero {
  background-color: #fffd99;
  background-image: radial-gradient(
      at 64% 32%,
      hsla(118, 99%, 75%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 79% 34%, hsla(207, 82%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 35% 76%, hsla(139, 71%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 32% 57%, hsla(336, 94%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 44% 66%, hsla(182, 93%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 30% 33%, hsla(195, 91%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 68% 49%, hsla(162, 88%, 67%, 1) 0px, transparent 50%);
}
