.player_score_button {
  display: block;
  font-weight: 700;
  line-height: 3rem;
  font-size: 1.5rem;
  text-align: center;
  height: 4rem;
  width: 100%;
  border-radius: 0;
  white-space: nowrap;
  overflow: hidden;
}
