.player_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 0.25rem;
  overflow-x: hidden;
  font-family: "fot-udkakugo-large-pr6n", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  writing-mode: horizontal-tb;
  text-orientation: upright;

  @media(width >= 36em) {
    justify-content: flex-start;
  }

  @media(width >= 62em) {
    padding-top: 0;
    font-size: clamp(2rem, 8vh, 4.5rem);
    line-height: clamp(2rem, 8vh, 4.5rem);
    writing-mode: vertical-rl;

    &[data-rows="3"] {
      font-size: clamp(1.8rem, 7vh, 4rem);
      line-height: clamp(1.8rem, 7vh, 4rem);
    }

    &[data-aql="true"] {
      font-size: clamp(1.5rem, 6vh, 3rem);
      line-height: clamp(1.5rem, 6vh, 3rem);
    }
  }
}
