name: Codecheck

on:
  pull_request:
    branches: ["main", "develop"]
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: corepack enable
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "24"
          cache: "pnpm"
      - name: 依存関係をインストール
        run: pnpm install --frozen-lockfile
      - name: Lintチェック
        run: pnpm run lint
      - name: Formatチェック
        run: pnpm run format
      - name: Stylelintチェック
        run: pnpm run stylelint
