name: Lint (Typecheck, ESLint, Prettier, Stylelint)

on:
  pull_request:
    branches: ["main", "develop"]
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "pnpm"
      - name: 依存関係をインストール
        run: pnpm install --frozen-lockfile
      - name: TypeScriptの型チェック
        run: pnpm tsc --noEmit
      - name: ESLintのチェック
        run: pnpm eslint
      - name: Prettierのチェック
        run: pnpm prettier --check './**/*.{ts,tsx,css,yml}'
      - name: Stylelintのチェック
        run: pnpm stylelint './**/*.css'
